language: python

sudo: true

branches:
  only:
    - master
env:
  global:
    - TORCH_SERVER=https://raw.githubusercontent.com/torch/rocks/master/
  matrix:
    - LUA="LUA51"
    - LUA="LUA52"
    - LUA="LUA53"
    - LUA="LUAJIT20"
    - LUA="LUAJIT21"

before_install:
  - if [[ ! -d torch ]]; then git clone https://github.com/torch/distro.git torch --recursive ; fi
  - cd torch
  - git pull
  - git submodule update
  - git submodule foreach git pull origin master
  - cd ..
  - cp -rf torch torch_$LUA
  - cd torch_$LUA
  - TORCH_LUA_VERSION=$LUA ./install.sh -b
  - cd ..

install:
  - source ./torch_$LUA/install/bin/torch-activate
  - luarocks --from=$TORCH_SERVER install sundown
  - luarocks --from=$TORCH_SERVER install dok
  - luarocks --from=$TORCH_SERVER install argcheck
  - luarocks --from=$TORCH_SERVER install csvigo
  - luarocks --from=$TORCH_SERVER install cutorch
  - luarocks install luafilesystem
  - luarocks install paths
  - luarocks install threads
  - luarocks install torchnet
  - luarocks make rocks/torchnet-addons-scm-1.rockspec CFLAGS="-O2 -fPIC -fprofile-arcs -ftest-coverage" LIBFLAG="-shared --coverage"

script:
  - th test/test.lua

notifications:
  email:
    on_success: change
    on_failure: always
